<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Edit page</title>
</head>
<body>
    <h1>Edit: <%= currentBook.name %> </h1>
    <form class="editForm" action="/users/<%= user._id%>/bookapp/<%= currentBook._id %>?_method=PUT" method="POST">
        <label class="title" for="name">Name:</label>
        <input type="text" name="name" id="name" value="<%= currentBook.name %>" required>
        
        <label class="title"  for="author">Author:</label>
        <input type="text" name="author" id="author" value="<%= currentBook.author %>" required>

        <label class="title" for="link">Link:</label>
        <input type="text" name="link" id="link" value="<%= currentBook.link %>">
        
        <label class="title" for="category">Category:</label>
        <select id="category" name="category">
          <option value="Fiction">Fiction</option>
          <option value="Non-Fiction">Non-Fiction</option>
          <option value="Novel">Novel</option>
          <option value="Romance">Romance</option>
          <option value="Children's book">Children's book</option>
          <option value="Biography">Biography</option>
          <option value="Autobiography">Autobiography</option>
          <option value="Mystery">Mystery</option>
          <option value="Art">Art</option>
          <option value="History">History</option>
          <option value="Politics">Politics</option>
          <option value="Thrillers">Thrillers</option>
          <option value="Academic">Academic</option>
          <option value="Other">Other</option>
        </select>
        
        <label class="title" for="comment">Comments:</label>
        <textarea name="comment" id="comment"> <%= currentBook.comment %> </textarea>
        
    
        <!-- Add a submit button -->
        <button id="updateBut" type="submit">Update</button>
      </form>
    
</body>
</html>