<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User page</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your book list</h1>
    <ul>
        <% books.forEach((book)=>{ %>
          <li>
            <div>
             <p><%= book.name %> by <%= book.author %></p>
            </div>
            <div>
              <a href="/users/<%= user._id %>/bookapp/<%= book._id %>">See details</a>
            </div>
            
            <!-- Add a link around each application, directing to the 'show' page -->
          </li>
        <% }) %>
    </ul>


    <a href="/users/<%= user._id %>/bookapp/new">Add a new book</a>
    
</body>
</html>