<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Each page</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Book: <%= currentBook.name %></h1>
    <p>Author: <%= currentBook.author %></p>
    <p>Category: <%= currentBook.category %></p>
    <p>Download: <a href="<%= currentBook.link %>" target="_blank" >Link</a></p>
    <p>Your comment: <%= currentBook.comment %></p>
    <a href="/users/<%= user._id %>/bookapp/<%= currentBook._id %>/edit">Edit</a>
    <a>Delete</a>
</body>
</html>